* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background: url("./img/background.png");
    padding-top: 40px;
}

.div-da-tarefa {
    padding-bottom: 30px;
    background-color: #d1d1d1;
    padding-top: 20px;
    width: 500px;
    border-radius: 10px;
    margin: auto auto 0;
    padding-left: 50px;

}

.input-list {
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 300px;
    padding-left: 10px;
}

.button-adicionar {
    margin-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    height: 45px;
    width: 120px;
    color: #ffff;
    background-color: blue;
    font-size: 25px;
    font: 700;
}

.button-adicionar:hover {
    color: black;
    background-color: aliceblue;
    transition: 0, 5s;
}

li {
    height: 50px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-top: 30px;
    list-style: none;background-color: #f1f1f1;
   border-radius: 10px;
   margin-right: 50px;
}

.button-adicionar:active {
    opacity: 0, 6;
}

li:hover img {
    opacity: 1;
}


img {
    padding: 0 15px;
    opacity: 0;
    cursor: pointer;
    height: 25px;
    transition: opacity 0.5s ease-in-out;
}

li {
    opacity: 1;
    cursor: pointer;
}

.done{
    background-color: rgb(171, 171, 241);
    text-decoration: line-through;
}
@media screen and (max-width:500px)  {
    .div-da-tarefa{
        width: 300px
    }

    .input-list{
        width: 120px;
        font-size: 11px;
    }

    .button-adicionar{
        width: 50px;
    }

}